@tailwind base;
@tailwind components;
@tailwind utilities;
 
.root{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
}